AUTH0_DOMAIN=your-tenant.us.auth0.com
AUTH0_CLIENT_ID=your-regular-web-application-client-id
AUTH0_CLIENT_SECRET=your-regular-web-application-client-secret
AUTH0_SECRET=generate-a-32-byte-hex-secret
AUTH0_AUDIENCE=your-auth0-api-identifier
APP_BASE_URL=http://localhost:4400
NEXT_PUBLIC_UDAS_API=udas-qa-api-url
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
